body
{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background-color: #1a0b2e;
	margin: 0;
	overflow: hidden;
	font-family: "Arial", sans-serif;
	user-select: none;
}

img
{
	user-drag: none;
	-webkit-user-drag: none;
	-moz-user-drag: none;
	-ms-user-drag: none;
	-o-user-drag: none;
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
}

.background
{
	position: fixed;
	bottom: 0;
	width: 100%;
}

.moon
{
	position: fixed;
	bottom: 0;
	right: 0;
	width: 35%;
	z-index: -1;
}

.witch
{
	position: fixed;
	top: 0;
	margin-top: 2rem;
	width: 15%;
	animation: fly 3s infinite linear;
	z-index: -1;
}

.mainContainer
{
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 8rem;
}

.messageContainer
{
	text-align: center;
	color: #ff6b35;
	text-shadow: 0 0 10px #ff6b35, 0 0 20px #ff6b35;
	animation: blinker 1s infinite linear;
}

.giftContainer
{
	position: relative;
	animation: float 2s infinite ease-in-out;
}

.giftContainer::before
{
	content: "";
	position: absolute;
	width: 170px;
	height: 20px;
	background-color: rgba(0, 0, 0, 0.6);
	border-radius: 50%;
	top: 90px;
	left: -80px;    
	z-index: -1;
}

.gift
{
	position: absolute;
	width: 150px;
	height: 100px;
	background-color: #4a1c6b;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
	border-radius: 5px;
	left: -70px;
}

.gift::before
{
	content: "";
	position: absolute;
	width: 25px;
	height: 100px;
	background-color: #ff6b35;
	left: 62px;
}

.gift::after
{
	content: "";
	position: absolute;
	box-shadow: inset 0 10px rgba(0, 0, 0, 0.3);
	width: 150px;
	height: 100px;
	border-radius: 5px;
}

#click
{
	display: none;
}

.click
{
	position: absolute;
	background-color: #4a1c6b;
	width: 170px;
	height: 40px;
	top: -40px;
	left: -10px;
	transform-origin: bottom left;
	transition: 0.3s;
	cursor: pointer;
	border-radius: 5px;
}

.click::before
{
	position: absolute;
	content: "";
	width: 25px;
	height: 40px;
	background-color: #ff6b35;
	left: 72px;
}

.click::after
{
	content: "";
	position: absolute;
	width: 5px;
	height: 0;
	border-top: 30px solid #ff6b35;
	border-right: 30px solid transparent;
	border-bottom: 30px solid #ff6b35;
	border-left: 0px solid transparent;
	transform: rotate(-90deg);
	top: -47px;
	left: 65px;
}

#click:checked + .click
{
	transform: rotate(-110deg) scale(0.85);
}

#click:checked ~ .giftContent
{
	transform: translateY(-120px);
	opacity: 1;
	z-index: 1;
}

.giftContent
{
	position: absolute;
	transition: 0.5s;
	font-size: 12px;
	font-weight: bold;
	text-align: center;
	color: #ff6b35;
	opacity: 0;
	text-shadow: 0 0 4px #020202;
	z-index: -1;
}

a
{
	text-decoration: none;
}

.giftContentPreview
{
	width: 100%;
	height: 2.5rem;
	background-color: #f0f0f0;
	border: 1px dotted rgba(26, 11, 46, 0.8);
}

span
{
	color: #7cfc00;
}

@keyframes fly
{
	0%
	{
		left: 100%;
	}
	
	100%
	{
		left: -100%;
	}
}

@keyframes blinker
{
	50%
	{
		color: #444;
		text-shadow: none;
	}
}

@keyframes float
{
	0%, 100%
	{
		transform: translateY(0);
	}
	
	50%
	{
		transform: translateY(-10px);
	}
}
